.pagina-diario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fce4ec; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    h1 {
      font-size: 2rem;
      color: #e91e63; 
      font-weight: bold;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }
  
    .form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #ffffff; 
      padding: 15px;
      border: 2px solid #f8bbd0; 
      border-radius: 8px;
      width: 100%;
      max-width: 400px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      
      label {
        font-size: 1.2rem;
        color: #880e4f; 
        margin-bottom: 8px;
      }
  
      input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #f8bbd0;
        margin-bottom: 15px;
        font-size: 1rem;
        background-color: #fce4ec;
        color: #880e4f;
  
        &:focus {
          border-color: #e91e63;
          box-shadow: 0 0 5px rgba(233, 30, 99, 0.4);
        }
      }
    }
  
    .but {
      background-color: #e91e63; 
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 25px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #d81b60;
      }
  
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  
    button {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #e91e63;
      color: white;
      border: none;
      border-radius: 25px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #c2185b;
      }
    }
}
